## A tuple is a sequence that is enclosed by ( and )

In [2]:
x = ('a', 'b', 'c')
x

('a', 'b', 'c')

In [3]:
x[2]

'c'

In [4]:
x[:1]

('a',)

In [5]:
len(x)

3

In [6]:
max(x)

'c'

In [7]:
min(x)

'a'

In [8]:
5 in x

False

In [9]:
5 not in x

True

## Tuples are immutable

In [10]:
x[2] = "5"

TypeError: 'tuple' object does not support item assignment

In [11]:
# You can create tuples from existing ones by using the + or * operators
x + x

('a', 'b', 'c', 'a', 'b', 'c')

In [12]:
2 * x

('a', 'b', 'c', 'a', 'b', 'c')

In [13]:
a = (1, 5, 6, 9)

In [14]:
b = a

In [15]:
b

(1, 5, 6, 9)

In [16]:
a = ("a","x", "p", "u")

In [17]:
a[1:3]

('x', 'p')

Tuples themselves can't be modified. But if they contain any mutable objects (for example, lists or dictionaries), these may be changed if they're still assigned to their own variables.

In [18]:
my_tup = (["y", "x", "p", "z"], 2, 3)
my_tup[0]

['y', 'x', 'p', 'z']

In [19]:
my_tup[1]

2

In [20]:
my_tup[0][0]

'y'

In [21]:
my_tup[0][1]

'x'

In [22]:
my_tup[0][1] = "axe"

In [23]:
my_tup

(['y', 'axe', 'p', 'z'], 2, 3)

In [24]:
my_tup[0] = "why"

TypeError: 'tuple' object does not support item assignment

## When to use tuple
Tuples are fixed size in nature whereas lists are dynamic.
In other words, a tuple is immutable whereas a list is mutable.

1. You can't add elements to a tuple. Tuples have no append or extend method.
2. You can't remove elements from a tuple. Tuples have no remove or pop method.
3. You can find elements in a tuple, since this doesn’t change the tuple.
5. You can also use the in operator to check if an element exists in the tuple.


* Tuples are faster than lists. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list.
* It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.
* Some tuples can be used as dictionary keys (specifically, tuples that contain immutable values like strings, numbers, and other tuples). Lists can never be used as dictionary keys, because lists are not immutable.

## One-element tuples need a comma
Parentheses can also be used to group items in expressions in order to enclose tuples.

In [25]:
a = [5]
type(a)

list

In [26]:
c = (5)

In [27]:
type(c)

int

In [28]:
c = (5,)

In [29]:
type(c)

tuple

In [32]:
x = 3

In [33]:
y = 4

In [34]:
(x + y)

7

In [35]:
(x + y,)

(7,)

In [36]:
a = () #Empty tuple

In [37]:
type(a)

tuple

## Packing and unpacking

In [38]:
(one, two, three, four) = (1, 2, 3, 4)

In [39]:
one

1

In [40]:
two

2

In [41]:
one,two

(1, 2)

In [42]:
one, two, three, four = 1, 2, 3, 4

In [43]:
one

1

In [44]:
three

3

In [45]:
x = (1, 2, 3, 4)

In [46]:
a, b, *c = x 
# * to absorb any number elements not matching the other elements

In [47]:
c

[3, 4]

In [48]:
a, b, c

(1, 2, [3, 4])

In [49]:
a, *b, c = x

In [50]:
a, b, c

(1, [2, 3], 4)

In [51]:
*a, b, c = x

In [52]:
a, b, c

([1, 2], 3, 4)

In [53]:
a, b, c, d, *e = x

In [54]:
a, b, c, d, e

(1, 2, 3, 4, [])

In [55]:
a,b, *c, d, e =x

In [56]:
a,b,c,d,e

(1, 2, [], 3, 4)

In [57]:
[a, b] = [1, 2]

In [58]:
a, b

(1, 2)

In [59]:
[c, d] = 3, 4

In [60]:
c,d

(3, 4)

## Converting between lists and tuples

In [61]:
list((1, 2, 3, 4))

[1, 2, 3, 4]

In [62]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [63]:
list("Hello") #Break a string into characters

['H', 'e', 'l', 'l', 'o']